# REDIS
REDIS_HOSTS="local:redis:6379"

# MARIADB
MYSQL_USER="admin"
MYSQL_PASSWORD="admin"
MYSQL_ROOT_PASSWORD="admin"
MYSQL_DATABASE="teamup"

# PHPMYADMIN
PMA_HOST="mariadb"
PMA_PORT=3306
PMA_USER="root"
PMA_PASSWORD="admin"

# MINIO
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="minioadmin"
