# NODE_ENV="production"

# API
TYPEORM_CONNECTION="postgres"
TYPEORM_HOST="postgres"
TYPEORM_USERNAME="admin"
TYPEORM_PASSWORD="admin"
TYPEORM_DATABASE="tinder"
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=build/**/*.entity.js
